* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.display-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.display-column {flex-direction: column;}

.margin-top-1 {margin-top: 1rem;}
.margin-top-3 {margin-top: 3rem;}
.margin-top-5 {margin-top: 5rem;}

.dividing-line {
    width: 90%;
    border: 1px solid #d0d0d0;
}

.main-section {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
}

.choice-value-section h2 {
    text-align: center;
    font-size: 2rem;
}

.program-name,
.program-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

.program-name {width: 55%;}

.program-plan {width: 25%;}

.choice-value-section button {width: 85%;}

.excel-inspector {
    display: none;
    height: 30rem;
    justify-content: space-evenly;
    flex-direction: column;
}

.student-courses-inspector {
    width: 60vw;
    height: 70vh;
    justify-content: flex-start;
    gap: 5rem;
    flex-wrap: nowrap;
    background-color: white;
    box-shadow: 3px 2px 8px -5px black;
    border-radius: 25px;
    font-size: 1.5rem;
    font-family: system-ui, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.student-courses-inspector section {width: 100%;}

.download-button {
    color: #1d1c1e;
    font-weight: 600;
    background-color: #00ff88;
}

.student-courses-inspector input[type=file]::file-selector-button,
.student-courses-inspector .download-disable,
.student-courses-inspector .download-button,
.choice-value-section button {
    padding: 1rem;
    margin: .5rem;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 2px 8px -5px black;
    transition: all ease-in-out .1s;
    cursor: pointer;
}

.student-courses-inspector input[type=file]::file-selector-button:hover,
.student-courses-inspector .download-button:hover {
    transform: scale(1.1);
    transition: all ease-in-out .1s;
}

.choice-value-section button:hover {
    background-color: #00ff88;
    transition: all ease-in-out .1s;
}

.student-courses-inspector input[type=text] {
    padding: 1rem;
    border: solid 1px #075299;
    border-radius: 15px;
}

.download-disable {
    background-color: #f53b3b;
    color: white;
}

.card-student {
    width: 60%;
    min-height: 30rem;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 3px 3px 15px -3px black;
}

.card-student h2 {
    color: #075299;
    text-align: center;
}

.card-student-name {
    height: 30%;
    font-size: 1.3rem;
}

.card-student-courses {
    min-height: 10rem;
    font-size: .7rem;
    gap: 0.8rem;
}

.card-student-name,
.card-student-courses {
    border: solid 1px grey;
    border-radius: 15px;
    padding: 1rem;
}

.course-card {
    width: 30%;
    height: 2rem;
    border-radius: 8px;
    box-shadow: 3px 3px 10px -5px black;
}

.course-card p {
    margin: 0;
    text-align: center;
}

.success-message {height: 15%;}

.success-message h2 {
    color: #00ff88;
    animation: succes-text 1000ms linear 1s infinite;
}

.excel-inspector-modal-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
.excel-inspector-modal-content {
    width: 50%;
    height: 27rem;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 3rem;
    font-size: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    z-index: 1;
}

.excel-inspector-modal-content p {text-align: center;}

.excel-inspector-modal-content button {
    padding: 2% 40%;
    border: none;
    border-radius: 15px;
    background-color: #075299;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.excel-inspector-modal-background {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-color: black;
    opacity: 70%;
    position: absolute;
    top: 0;
}

/*==========================================KEYFRAME=========================================*/

@keyframes succes-text {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.18);
    }
    100% {
        transform: scale(1.1);
    }
}

/*==========================================KEYFRAME=========================================*/