<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/portal.css">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="news-section">
            <h2 class="news-card-title">Noticias</h2>
            <div class="news-container">
                <div class="news-content">
                    <div class="news-card">
                        <h2>III Congreso Internacional de Victimología</h2>
                        <a href="">
                            <img src="https://virtual.udecolombia.edu.co/pluginfile.php/12306/mod_label/intro/a3ad7f8e-dfef-4818-8db3-14d2b3d5e64c.jpg"
                                alt="congreso internacional de victimología">
                        </a>
                        <div class="news-card-info">
                            <div class="news-card-date">
                                <P>17 y 18</P>
                                <p>NOV</p>
                            </div>
                            <div class="news-card-description">
                                <P>El perdón un camino hacia la reparación</P>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-content">
                    <div class="news-card">
                        <h2>III Congreso Internacional de Victimología</h2>
                        <img src="../static/assets/img/a3ad7f8e-dfef-4818-8db3-14d2b3d5e64c.jpg" alt="">
                        <div class="news-card-info">
                            <div class="news-card-date">
                                <P>17 y 18</P>
                                <p>NOV</p>
                            </div>
                            <div class="news-card-description">
                                <P>El perdón un camino hacia la reparación</P>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-content">
                    <div class="news-card">
                        <h2>III Congreso Internacional de Victimología</h2>
                        <img src="../static/assets/img/a3ad7f8e-dfef-4818-8db3-14d2b3d5e64c.jpg" alt="">
                        <div class="news-card-info">
                            <div class="news-card-date">
                                <P>17 y 18</P>
                                <p>NOV</p>
                            </div>
                            <div class="news-card-description">
                                <P>El perdón un camino hacia la reparación</P>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-content">
                    <div class="news-card">
                        <h2>III Congreso Internacional de Victimología</h2>
                        <img src="../static/assets/img/a3ad7f8e-dfef-4818-8db3-14d2b3d5e64c.jpg" alt="">
                        <div class="news-card-info">
                            <div class="news-card-date">
                                <P>17 y 18</P>
                                <p>NOV</p>
                            </div>
                            <div class="news-card-description">
                                <P>El perdón un camino hacia la reparación</P>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="careerSection" class="career_section">
            <h2 style="text-align: center; margin-bottom: 3rem;"><strong>Nuestros Pogramas de Pregrado a
                    Distancia</strong></h2>
            <div class="slider">
                <button class="btn d-none d-lg-block" onclick="handleScrollPrev(cardContentPre)">
                    <span><strong><i class="arrow left"></i></strong></span>
                </button>
                <div id="cardContentPre" class="card-content"></div>
                <button class="btn d-none d-lg-block" onclick="handleScrollNext(cardContentPre)">
                    <span><i class="arrow right"></i></span>
                </button>
            </div>
        </div>
        <div id="careerSection" class="career_section">
            <h2 style="text-align: center; margin-bottom: 3rem;"><strong>Nuestros Pogramas de Pregrado a
                    Distancia</strong></h2>
            <div class="slider">
                <button class="btn d-none d-lg-block" onclick="handleScrollPrev(cardContentPos)">
                    <span><strong><i class="arrow left"></i></strong></span>
                </button>
                <div id="cardContentPos" class="card-content"></div>
                <button class="btn d-none d-lg-block" onclick="handleScrollNext(cardContentPos)">
                    <span><i class="arrow right"></i></span>
                </button>
            </div>
        </div>
        <div class="course-promo-container">
            <div class="course-promo-content">
                <div class="course-promo-image"
                    style="background-image: url(../static/assets/img/tiro-medio-mujer-sonriente-leyendo.jpg);"></div>
                <div class="course-promo-text">
                    <h2>CURSO BASES DE DATOS</h2>
                    <p>Aprende a acceder a nuestra biblioteca utilizando nuestro sistema académico Q10, encuentra lo que
                        necesitas en nuestras diferentes bases de datos virtuales o consulta en los mas de 3000
                        ejemplares físicos.</p>
                    <p><b>Tipo de curso:</b> Abierto - Automatrícula</p>
                    <p><b>Modalidad: </b>Virtual</p>
                    <p class="course-promo-text-decorate"></p>
                </div>
            </div>
        </div>
        <div>
            <h2>Animated Accordion</h2>
            <p>Click on the buttons to open the collapsible content.</p>

            <button class="faq-accordion">¿Como puedo acceder a los cursos que tengo matriculados?</button>
            <div class="faq-panel">
                <p>Podrá acceder a los cursos que tengas matriculados en el semestre actual, yendo a la sección de “Mis Cursos” en la barra de menú principal. Es la tercera opción de izquierda a derecha.</p>
            </div>

            <button class="faq-accordion">¿Como puedo acceder a las clases sincrónicas?</button>
            <div class="faq-panel">
                <p>Para acceder a las clases sincrónicas, primero debes ir al curso que encontrarás en la sección de “Mis Cursos”, luego en la parte principal encontrarás un botón que dice clase sincrónica, al darle clic te llevará a interactuar con la interfaz del sistema de reunión sincrónica y podrás entrar a la clase..</p>
            </div>

            <button class="faq-accordion">No recuerdo mi nombre de usuario o contraseña</button>
            <div class="faq-panel">
                <p>Cuando olvides tu nombre de usuario y contraseña recuerda qué, siempre a tu correo se te envían las credenciales de acceso, puedes ir y revisar y aun conservas dicho correo, de lo contrario, ponte en contacto con nosotros escribiendo a lvirtualidad@udecolombia.edu.co</p>
            </div>
            <button class="faq-accordion">No puedo ver las notas de una actividad</button>
            <div class="faq-panel">
                <p>Recuerda que el portal educativo es el espacio para realizar todos los contenidos académicos de los programas en modalidad a distancia, diplomados y cursos virtuales, pero si deseas ver y tener el registro e historial de tus notas, lo debes hacer visitando nuestro sistema académico Q10. Para ir a Q10 debes ir a la pagina de la universidad “udecolombia.edu.co” y dar clic en Q10 Sistema Académico” en la barra de menú principal, es la tercera opción de derecha a izquierda.</p>
            </div>
            <button class="faq-accordion">Al momento de estar presentando una actividad se me cayó el internet, ¿qué puedo hacer?</button>
            <div class="faq-panel">
                <p>Si tuviste dificultades a la hora de estar realizando una actividad y por problemas de luz o internet no pudiste terminarla, primero debes contactar con tu profesor, el te escuchará y tomará cartas en el asunto. Recuerda que quien puede autorizar aplazamiento o repetir actividades es el docente, no el líder de virtualización.</p>
            </div>
            <button class="faq-accordion">No encuentro un curso que debo ver</button>
            <div class="faq-panel">
                <p>Si no encuentras un corso que debes tener matriculado en el portal educativo, ponte en contacto con el líder de virtualización, escribiendo a “lvirtualidad@udecolombia.edu.co”. Si no encuentras el curso en Q10 debes ponerte en contacto con el área de Admisiones y registro a “admisiones4@udecolombia.edu.co”</p>
            </div>
        </div>
    </section>
    <script src="../static/assets/js/text_portal.js"></script>
</body>

</html>